a:hover,
a:focus {
  color: #0093e8;
}
.label-primary {
  background-color: #0093e8;
}
/*header*/
.one-nav .navbar-form .form-control:focus {
  border-color: #0093e8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 115, 201, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 115, 201, 0.6);
}
.one-nav .menu-sec li.open > a,
.one-nav .menu-sec li > a:hover,
.one-nav .menu-sec li.active > a,
.one-nav .nav .dropdown-menu > li > a:hover,
.one-nav .nav .dropdown-menu > li > a:focus,
.one-nav .menu-sec .btn-plus-focus,
.one-nav .navbar-form .btn:hover,
.one-nav .menu-sec .navbar-nav > .open > a,
.one-nav .menu-sec .navbar-nav > .open > a:hover,
.one-nav .menu-sec .navbar-nav > .open > a:focus,
.one-nav .menu-sec .navbar-nav > .active > a:hover,
.one-nav .container-gap .nav .dropdown-menu > li > a:hover,
.one-nav .container-gap .nav .dropdown-menu > li > a:focus {
  background-color: #007ab8;
}
.one-nav .menu-sec,
.one-nav .navbar-form .btn,
.one-nav .menu-more li a,
.one-nav .container-gap .nav .dropdown-menu > li > a {
  background-color: #0093e8;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu li a:hover,
.one-nav .container-gap .navbar-nav > li > a:focus,
.one-nav .container-gap .navbar-nav > li > a:hover,
.one-nav .container-gap .navbar-nav > li > a:hover .iconfont {
  color: #0093e8 !important;
}
.one-nav {
  border-bottom-color: #0093e8;
}
.one-nav .container-gap .nav .dropdown-menu:before {
  border-bottom-color: #007ab8;
}
.one-nav .navbar-brand-logo,
.one-nav .navbar-brand-logo:hover {
  color: #007ab8;
}
.one-nav .has-sub .sub-menu a:hover {
  color: #0093e8;
}
@media (max-width: 768px) {
  .one-nav .navbar-toggle > span,
  .one-nav .navbar-brand-logo,
  .one-nav .navbar-brand-logo:hover {
    color: #0093e8;
  }
  .one-nav .navbar-form .btn,
  .one-nav .menu-sec > li,
  .one-nav .navbar-form .btn:hover,
  .one-nav .menu-sec .navbar-nav > li .dropdown-menu {
    background-color: #0093e8;
  }
  .one-nav .menu-btn,
  .one-nav .has-sub .sub-menu,
  .one-nav .nav,
  .one-nav .container-gap .navbar-nav > li > a:hover {
    background-color: #007ab8 !important;
  }
  .one-nav .navbar-nav > li > a:hover,
  .one-nav .navbar-nav > li.open > a,
  .one-nav .navbar-nav > li.open > a > .iconfont,
  .one-nav .navbar-nav > li > a:hover > .iconfont {
    color: #fff!important;
  }
}
/*main*/
.homepage-feature span.cycle-pager-active,
.group > ul > li > a span,
.group > ul > li > a p > span,
.group > ul > li > a p > strong,
.news li,
.teachers-item i,
.teachers-item span,
.promot-teacher span,
.com-author-link,
.news-side li span,
.zhibo-side .class-list li p > span,
.class-nav span:hover,
.es-box .more,
.course-bottom .nickname,
.site-footer-logo,
.login-box-main ul li a:hover,
.login-box-main h4,
.group > ul > li > div > span a,
.group > ul > li p > span a,
.group > ul > li p > strong,
.news li a,
.news-side li a:hover,
.group > ul > li h3 a:hover,
.group > ul > li p > span {
  color: #0093e8;
}
.status-side .media-body {
  color: #a9a9a9;
}
.status-side .media-body a {
  color: #0093e8;
}
.es-box > h2 {
  border-color: #0093e8;
}
.es-course-list .mask,
.es-box .actions .btn,
.the-vip-content .col-md-3 span {
  background-color: #0093e8;
}
.es-box .actions .btn:hover,
.es-box .actions .btn:focus {
  background-color: #007ab8;
  color: #fff;
}
.tag-list a:hover,
.fixed-bar span:hover {
  background-color: #0093e8;
  border-color: #0093e8;
}
.course-top span {
  background-color: #0093e8;
  background-color: rgba(20, 113, 162, 0.8);
}
.stars-0,
.stars-1,
.stars-2,
.stars-3,
.stars-4,
.stars-5 {
  background-image: url(../img/starts-r.png);
}
/*footer*/
#footer-fir .site-footer-links a,
#footer-fir p.edusoho a,
#footer-fir .site-footer-logo,
#footer-sec a:hover {
  color: #0093e8;
}
/*内页, user*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #0093e8;
  color: #fff;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #0093e8;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0093e8;
  border-color: #0093e8;
  color: #fff;
}
/*settings*/
.list-group-panel .list-group-item.active,
.list-group-panel .list-group-item.active:hover {
  color: #0093e8;
  border-color: #0093e8;
}
.btn-primary,
.btn-info,
.btn-success,
.btn-primary {
  background-color: #0093e8;
  border-color: #0093e8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #007ab8;
  border-color: #007ab8;
  color: #fff;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #0093e8;
  border-color: #0093e8;
}
.es-box-heading h2 {
  border-color: #0093e8;
}
/*my/teaching/courses*/
.label-success,
.label-info {
  background-color: #0093e8;
}
.btn-link,
.userpage-header-info h1 small {
  color: #0093e8;
}
.btn-link:hover,
.btn-link:focus {
  color: #007ab8;
}
.progress-bar {
  background-color: #0093e8;
}
/*class*/
.home-class-list .mask {
  background-color: #0093e8;
}
