/* =========================== media =========================== */
a:hover,
a:focus {
  color: #ffae00;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #ffae00 !important;
}
.text-primary,
.color-primary {
  color: #ffae00 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #ffae00;
}
.btn-primary {
  border-color: #cc8b00;
  background-color: #ffae00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #d69200;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #ffae00;
  color: #ffae00;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #ffae00;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #ffae00;
}
.es-piece .piece-header {
  border-color: #ffae00;
}
.breadcrumb a:hover {
  color: #ffae00;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #ffae00;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #ffae00;
}
.class-serve > ul > li.active {
  background-color: #ffae00;
}
.article-metas .metas-body .title a:hover {
  color: #ffae00;
}
.media.media-number .media-body > a:hover {
  color: #ffae00;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #ffae00;
}
.class-signin .btn-signin {
  background-color: #ffae00;
}
.sidenav .list-group .list-group-item.active {
  border-color: #ffae00;
}
.sidenav .list-group .list-group-item.active > a {
  color: #ffae00;
}
.dropdown-menu > li > a:hover {
  background-color: #ffae00;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #ffae00;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffae00;
  border-color: #ffae00;
}
.badge-primary {
  background-color: #ffae00;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #ffae00;
}
.es-filter .filter label:hover {
  color: #ffae00;
}
.class-header.after .class-data > li > a:hover {
  color: #ffae00;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #ffae00;
}
.progress-bar,
.rank_num {
  background-color: #ffae00;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #ffae00;
}
.bar-task .bar-time-line > li .es-icon {
  color: #ffae00;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #ffae00;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #ffae00;
}
.page-header .badge {
  background-color: #ffae00 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #ffae00;
}
body {
  font-family: "microsoft yahei";
}
.homepage {
  background-color: #ececec;
  color: #666;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: none;
}
.homepage p {
  margin: 0;
}
.navbar-nav p {
  margin: 0 0 10px;
}
.homepage h2,
.homepage h3,
.homepage h4 {
  margin: 0;
  padding: 0;
}
/*font*/
@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?2');
  src: url('iconfont.eot?2#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?2') format('woff'), /* chrome、firefox */ url('iconfont.ttf?2') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('iconfont.svg?2#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-renrenfangxing:before {
  content: "\e60b";
}
.icon-wushenglaba:before {
  content: "\e601";
}
.icon-xiangxia:before {
  content: "\e60c";
}
.icon-weibo:before {
  content: "\e60f";
}
.icon-qq:before {
  content: "\e610";
}
.icon-iconbook:before {
  content: "\e603";
}
.icon-wenda:before {
  content: "\e614";
}
.icon-xiangxiajiantou11:before {
  content: "\e615";
}
.icon-yousanjiaoxing:before {
  content: "\e611";
}
.icon-zuosanjiaoxing:before {
  content: "\e60b";
}
.icon-mobile:before {
  content: "\e618";
}
.icon-email:before {
  content: "\e604";
}
.icon-zhuce:before {
  content: "\e617";
}
.icon-zhankaijiantou:before {
  content: "\e609";
}
.icon-arrow-down:before {
  content: "\e607";
}
.icon-text:before {
  content: "\e613";
}
.icon-book:before {
  content: "\e60a";
}
.icon-login:before {
  content: "\e616";
}
.icon-jiantou:before {
  content: "\e61b";
}
.icon-zuojiantou:before {
  content: "\e612";
}
.icon-shu3:before {
  content: "\e604";
}
.icon-top:before {
  content: "\e616";
}
.icon-sousuo1:before {
  content: "\e60f";
}
.icon-menu:before {
  content: "\e600";
}
.icon-nanrentouxiang:before {
  content: "\e619";
}
.icon-liebiao:before {
  content: "\e600";
}
.icon-dayinji:before {
  content: "\e601";
}
.icon-renrenfangxing:before {
  content: "\e602";
}
.icon-wushenglaba:before {
  content: "\e603";
}
.icon-thin008bookreadingreadmanual:before {
  content: "\e604";
}
.icon-zhuce:before {
  content: "\e605";
}
.icon-dingdanjiantou:before {
  content: "\e606";
}
.icon-gengduo:before {
  content: "\e607";
}
.icon-iconbook:before {
  content: "\e608";
}
.icon-wenda:before {
  content: "\e609";
}
.icon-weibo:before {
  content: "\e60a";
}
.icon-email:before {
  content: "\e60c";
}
.icon-text:before {
  content: "\e60d";
}
.icon-book:before {
  content: "\e60e";
}
.icon-tubiao:before {
  content: "\e60f";
}
.icon-login:before {
  content: "\e610";
}
.icon-ordinaryzuojiantou:before {
  content: "\e611";
}
.icon-circle-arrow-left:before {
  content: "\e612";
}
.icon-qq-round:before {
  content: "\e613";
}
.icon-xiazaizhuanqu:before {
  content: "\e614";
}
.icon-jiantou1:before {
  content: "\e615";
}
.icon-shangjiantou:before {
  content: "\e616";
}
.icon-qianbao:before {
  content: "\e617";
}
.icon-mobile:before {
  content: "\e618";
}
.icon-0401:before {
  content: "\e619";
}
.icon-jiantou2:before {
  content: "\e61a";
}
/*header*/
.one-nav {
  min-height: 130px;
  border: none;
  /*border-bottom: 4px solid darken(@brand-primary,10%);*/
  background-color: #fff;
}
.container-gap {
  min-height: 90px;
}
.one-nav .navbar-header {
  /*width: 800px;*/
}
@media (min-width: 768px) {
  .one-nav .navbar-header {
    width: 420px;
  }
}
@media (min-width: 992px) {
  .one-nav .navbar-header {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .one-nav .navbar-header {
    width: 800px;
  }
}
.one-nav .menu-sec .navbar-nav {
  width: 100%;
}
.one-nav .navbar-brand-logo {
  font-size: 26px;
  max-width: 265px;
  overflow: hidden;
  color: #ffae00;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.one-nav .navbar-brand-logo:hover {
  color: #ffae00;
  text-decoration: none;
}
.one-nav .navbar-brand-logo img {
  height: 50px!important;
  width: auto;
}
.one-nav .container-gap .navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #666;
  text-align: center;
}
.one-nav .container-gap .navbar-nav > li > a img {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
}
.one-nav .container-gap .navbar-nav > li > a:focus,
.one-nav .container-gap .navbar-nav > li > a:hover,
.one-nav .container-gap .navbar-nav > li > a:hover .iconfont {
  background-color: #fff!important;
  color: #cc8b00 !important;
}
.one-nav .menu-sec .navbar-nav > .open > a:hover,
.one-nav .menu-sec .navbar-nav > .open > a:focus,
.one-nav .menu-sec .navbar-nav > .active > a:hover {
  background-color: #b37a00;
  color: #fff;
}
.one-nav .container-gap .navbar-nav > li > a > .iconfont {
  margin-bottom: 10px;
  display: block;
  font-size: 30px;
  line-height: 25px;
  color: #888;
  text-align: center;
}
.one-nav .badge-container .badge {
  right: 10px;
  top: 30px;
  font-size: 11px;
  font-style: normal;
  background-color: #f9534f;
}
@media (max-width: 767px) {
  .one-nav .badge-container .badge {
    display: none;
  }
}
.one-nav .container-gap .nav .dropdown-menu {
  left: 50%!important;
  margin: 0 0 0 -66px !important;
  min-width: 132px;
  padding: 0;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.one-nav .container-gap .nav .dropdown-menu:before {
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -13px;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 16px solid #cc8b00;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
.one-nav .container-gap .nav .dropdown-menu > li > a {
  padding: 0 0 0 20px;
  height: 36px;
  line-height: 36px;
  background-color: #ffae00;
  color: #fff;
}
.one-nav .container-gap .nav .dropdown-menu > li > a > i {
  margin-right: 8px;
}
.one-nav .container-gap .nav .dropdown-menu > li > a:hover,
.one-nav .container-gap .nav .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #cc8b00;
}
.one-nav .navbar-form {
  margin-top: 20px;
  margin-left: 0;
  display: none;
}
@media (min-width: 768px) {
  .one-nav .navbar-form {
    width: 270px;
    display: block;
    float: right!important;
  }
}
@media (min-width: 1200px) {
  .one-nav .navbar-form {
    width: 465px;
    margin-top: 20px;
    margin-left: 30px;
  }
}
.one-nav .form-group {
  overflow: hidden;
  font-size: 16px;
  float: left;
}
@media (min-width: 768px) {
  .one-nav .form-group {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .one-nav .form-group {
    width: 345px;
  }
}
.one-nav .navbar-form .form-control {
  padding: 6px 12px;
  width: 100%;
  height: 40px;
  line-height: 28px;
  font-size: 14px;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #b5b5b5;
  border-right: none;
}
.one-nav .navbar-form .form-control:focus {
  border-color: #ffae00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(22, 218, 178, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(22, 218, 178, 0.6);
}
.one-nav .navbar-form .btn {
  display: block;
  /*float: right;*/
  padding: 0;
  width: 90px;
  height: 40px;
  line-height: 40px;
  background-color: #cc8b00;
  color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.one-nav .navbar-form .btn > span {
  font-size: 28px;
}
/*menu-sec*/
.one-nav .menu-sec {
  position: relative;
  width: 100%;
  background-color: #ffae00;
  overflow: hidden;
  height: 40px;
}
.one-nav .menu-sec .navbar-nav {
  float: none!important;
}
@media (min-width: 768px) {
  .one-nav .menu-sec .navbar-nav {
    float: none!important;
  }
}
.one-nav .menu-sec .navbar-nav > li > a {
  display: block;
  padding: 0 25px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
}
.one-nav .menu-sec .nav li:hover a {
  color: #fff;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu {
  margin-top: 0;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 20px;
  width: 400px;
  background-color: #6f7372;
  border-radius: 0;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu li {
  float: none;
  display: inline-block;
  margin: 0 10px 10px 0;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu li a {
  padding: 5px 10px;
  color: #fff;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu li a:hover {
  color: #1edd8e;
  background-color: #575959;
}
.one-nav .menu-btn {
  display: none;
}
.one-nav .menu-sec li.open > a,
.one-nav .menu-sec li > a:hover,
.one-nav .menu-sec li.active > a {
  background-color: #cc8b00;
}
.one-nav .menu-sec .btn-plus {
  width: 75px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
.one-nav .menu-sec .btn-plus-focus {
  background-color: #b37a00;
}
.one-nav .menu-more {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 9999;
  display: none;
  width: 150px;
  height: auto;
  background-color: #ffae00;
  border-top: none;
  padding-left: 0;
}
.one-nav .menu-more li {
  display: block;
  float: none;
}
.one-nav .menu-more li a {
  display: block;
  padding: 5px 0 5px 30px;
  background-color: #ffae00;
  color: #fff;
  text-decoration: none;
}
.one-nav .menu-more li a:hover {
  background-color: #b37a00;
}
.one-nav .menu-more li.open .dropdown-menu {
  display: block;
}
.one-nav .menu-more li .dropdown-menu {
  position: static;
  height: auto;
  min-width: 0;
  z-index: 1000;
  float: none;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffae00;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.one-nav .menu-more li .dropdown-menu li a {
  padding-left: 40px;
}
@media (max-width: 1200px) {
  /*  .one-nav .navbar-header {
    width: 600px;
  }*/
  /*  .one-nav .form-group {
    width: 200px;
  }*/
  .one-nav .navbar-form .btn {
    width: 40px;
  }
}
@media (max-width: 992px) {
  /*  .one-nav .navbar-header {
    width: 520px;
  }*/
  .one-nav .container-gap .nav > li > a {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .one-nav .menu-sec .navbar-nav {
    float: none!important;
  }
  .one-nav .container-gap .navbar-nav > li > a {
    padding-top: 25px;
  }
  .one-nav .container-gap .navbar-nav > li > a p {
    display: none;
  }
  .one-nav .container-gap .navbar-nav > li > a img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 16px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #015138;
  }
  .one-nav .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .one-nav {
    position: static;
    min-height: 50px;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 1px;
    /*background-color: @brand-primary;*/
  }
  .one-nav .navbar-header {
    height: 50px;
  }
  .container-gap {
    min-height: 50px;
    position: relative;
  }
  .one-nav .navbar-nav {
    margin: 0;
  }
  .one-nav .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
  }
  .one-nav .nav {
    background-color: #cc8b00;
  }
  /*logo size*/
  .one-nav .navbar-brand-logo {
    z-index: 99;
    position: absolute;
    display: block;
    text-align: left;
    float: none;
    padding: 0;
    margin: 0;
    padding-left: 55px;
    height: 49px;
    line-height: 50px;
    font-size: 18px;
  }
  .search-open .one-nav .navbar-brand-logo {
    z-index: 1;
  }
  .one-nav .navbar-brand-logo img {
    height: 30px!important;
  }
  .one-nav .navbar-collapse.in {
    overflow-y: hidden;
  }
  .one-nav .menu-sec .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff!important;
    text-align: left;
  }
  .one-nav .menu-sec .navbar-nav > li .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 20px;
    width: 100%;
    background-color: #ffae00;
    border-radius: 0;
  }
  .one-nav .container-gap .navbar-nav > li .dropdown-menu li {
    display: block;
    margin: 0;
  }
  .one-nav .menu-sec .navbar-nav > li .dropdown-menu li {
    display: block;
  }
  .one-nav .container-gap .navbar-nav > li > a {
    color: #fff;
    text-align: left;
  }
  .one-nav .container-gap .navbar-nav > li > a p {
    display: inline-block;
  }
  .one-nav .container-gap .navbar-nav > li > a img {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .one-nav .container-gap .navbar-nav > li > a > .iconfont {
    margin-right: 5px;
    margin-bottom: 0;
    display: inline-block;
    color: #fff;
    font-size: 18px;
  }
  .one-nav .container-gap .navbar-nav > li > a:hover .iconfont {
    background: transparent!important;
    color: #fff!important;
  }
  .one-nav .container-gap .nav .dropdown-menu {
    left: 0!important;
    margin: 0!important;
    min-width: 0px;
    padding: 0;
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .one-nav .container-gap .navbar-nav > li > a:hover {
    background: #cc8b00 !important;
    color: #fff!important;
  }
  .one-nav .nav .dropdown-menu:before {
    display: none;
  }
  .one-nav .nav .dropdown-menu {
    left: 0!important;
    margin: 0 !important;
    min-width: auto;
  }
  .one-nav .menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
    display: block;
    z-index: 999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #01875d;
  }
  .one-nav .menu-btn > span,
  .one-nav .navbar-toggle > span {
    font-size: 28px;
  }
  .one-nav .menu-btn > span {
    color: #fff;
  }
  .one-nav .navbar-toggle > span {
    color: #01875d;
  }
  .menu-open .one-nav .menu-sec {
    display: block;
  }
  .one-nav .menu-sec {
    position: absolute;
    display: none;
    top: 50px;
    left: 0px;
    z-index: 9999;
    /*width: 346px;*/
    height: auto;
    max-height: 380px;
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    letter-spacing: 2px;
  }
  .one-nav .menu-sec > li {
    background-color: #ffae00;
    display: block;
    float: none;
  }
  .one-nav .menu-sec > li > a {
    padding-left: 50px;
    text-align: left;
  }
  .one-nav .navbar-toggle {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
  .one-nav .navbar-collapse {
    width: 100%;
    position: absolute;
    top: 51px;
    right: 0px;
    z-index: 9999;
  }
  .one-nav .navbar-form {
    padding: 0;
    margin: 0;
    border: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 49px;
    overflow: hidden;
  }
  .one-nav .navbar-form .form-group {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 100px;
    width: 100%;
    height: 49px;
  }
  .one-nav .navbar-form .form-control {
    border: none;
    border-left: 1px solid #cc8b00;
    height: 49px;
    display: none;
    z-index: -1;
    webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .search-open .navbar-form .form-control {
    z-index: 999;
    display: block;
  }
  .one-nav .navbar-form .btn {
    position: absolute;
    top: 0;
    right: 50px;
    width: 50px;
    height: 48px;
    line-height: 48px;
    background-color: #ffae00;
    color: #fff;
    outline: none;
  }
  .one-nav .navbar-form .btn:active,
  .one-nav .navbar-form .btn:focus {
    box-shadow: none!important;
    border-color: #fff!important;
    outline: none;
    /*webkit-focus-ring-color*/
  }
}
/*slide*/
.homepage-feature {
  margin-bottom: 30px;
  max-height: 380px;
  overflow: hidden;
}
.homepage-feature .cycle-pager span {
  color: #fff;
}
.homepage-feature span.cycle-pager-active {
  color: #cc8b00;
}
.homepage-feature:hover .slide-nav {
  display: block;
}
.slide-nav {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.slide-nav span {
  font-size: 28px;
  color: #fff;
}
.cycle-next {
  left: auto;
  right: 20px!important;
}
/*content*/
.es-box {
  position: relative;
  margin-bottom: 30px;
  padding: 20px 25px 25px 25px;
  background-color: #fff;
  overflow: hidden;
}
@media (max-width: 767px) {
  .es-box {
    padding: 20px 15px 25px 15px;
  }
}
.es-box .more {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  line-height: 24px;
  color: #ffae00;
}
.es-box > h2 {
  margin-left: -25px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 4px solid #00b780;
  color: #222;
  font-size: 24px;
}
@media (max-width: 767px) {
  .es-box > h2 {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: -15px;
  }
}
.main .es-box > ul.row,
.main .teachers > ul.row {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 0px;
}
.main .es-box > ul {
  padding-left: 0;
}
@media (max-width: 1199px) {
  .group > ul > li h3 a {
    display: inline-block;
    width: 400px;
  }
}
@media (max-width: 992px) {
  .home-class-list .mask-wrap:hover .mask,
  .es-course-list:hover .mask {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .es-course-list {
    margin-bottom: 0!important;
  }
  .es-box > ul {
    margin-top: 10px!important;
  }
  .home-class-list .mask a {
    height: 190px!important;
    overflow: hidden;
  }
  .main .es-box > ul {
    margin-right: -10px;
    margin-left: -10px;
  }
  .es-course li,
  .teachers li {
    margin-top: 10px;
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
  .course-bottom h3 {
    height: 28px!important;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
  .course-price-widget .price {
    font-size: 12px;
  }
  .group > ul > li {
    margin-bottom: 0!important;
    margin-top: 15px;
    padding: 0 5px;
  }
  .teachers-item {
    margin-bottom: 0px!important;
  }
  .group > ul > li img {
    width: 60px!important;
    height: 60px!important;
  }
  .es-course-list .mask h3 {
    display: none;
  }
  .group > ul > li h3 a {
    font-size: 14px!important;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: auto;
  }
  .the-vip-content li {
    margin-bottom: 0px!important;
    padding: 15px;
  }
  .group > ul > li > div .postnum {
    display: none;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .course-bottom h3 {
    font-weight: normal;
    font-size: 14px !important;
  }
}
.es-course li,
.teachers li {
  padding-right: 10px;
  padding-left: 10px;
}
.es-course,
.teachers {
  padding-bottom: 5px;
}
.es-course-list {
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .es-course-list img {
    width: 100%;
    /*for img<768*/
    max-height: 374px;
  }
}
.es-course-list > div {
  position: relative;
  height: 100%;
}
.course-top {
  position: relative;
}
.es-course-list .img-responsive {
  width: 100%;
}
.course-top span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 10px;
  background-color: #ffae00;
  background-color: rgba(2, 185, 128, 0.8);
  color: #fff;
  font-size: 12px;
  width: 100%;
  line-height: 10px;
}
.course-bottom {
  padding: 15px;
  background: #eaeaea;
}
@media (max-width: 767px) {
  .course-bottom {
    padding: 5px 10px;
  }
}
.course-bottom h3 {
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  color: #222;
}
.course-bottom .price-num {
  margin-right: 10px;
  font-size: 18px;
  color: #ff5d42;
}
.course-bottom .student-num {
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}
@media (max-width: 767px) {
  .course-bottom .student-num {
    display: none;
  }
}
.course-bottom .nickname {
  font-size: 12px;
  color: #00b780;
  display: inline-block;
  height: 16px;
}
@media (max-width: 767px) {
  .course-bottom .nickname {
    display: none;
  }
}
.es-course-list .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #ffae00;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.es-course-list:hover .mask {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms, opacity 0.1s ease-in;
  transition: all 250ms, opacity 0.1s ease-in;
}
.es-course-list .mask a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.es-course-list .mask h3 {
  font-size: 16px;
  line-height: 42px;
}
@media (max-width: 1199px) {
  .es-course-list .mask h3 {
    display: none;
  }
}
.es-course-list .mask p {
  height: 95px;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  word-wrap: break-word;
}
.es-course-list .mask .title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 10px;
}
.es-course-list .mask span.iconfont {
  display: block;
  font-size: 30px;
  filter: alpha(opacity=0);
}
.es-course-list:hover .mask span.iconfont {
  filter: alpha(opacity=100);
}
.mask .teacher-info {
  margin-bottom: 10px;
}
.mask .teacher-info img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.mask .teacher-info span {
  font-size: 12px;
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
/*news*/
.news {
  padding-bottom: 5px;
}
.news li {
  margin-bottom: 20px;
}
.news li a {
  color: #ffae00;
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news li span {
  color: #222;
  margin-right: 5px;
}
.news li em {
  width: 85px;
  float: right;
  text-align: right;
  font-style: normal;
  color: #a9a9a9;
}
/*group*/
.group > ul > li {
  overflow: hidden;
  margin-bottom: 25px;
  color: #00b780;
  text-decoration: none;
}
.group > ul > li:last-child {
  margin-bottom: 0;
}
.group > ul > li > div {
  position: relative;
}
.group > ul > li > div .postnum {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffae00;
  width: 40px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  height: 25px;
  line-height: 25px;
}
.group > ul > li img {
  margin: 0 10px 0 0;
  width: 90px;
  height: 90px;
}
.group > ul > li h3 a {
  color: #002222;
  line-height: 25px;
  font-size: 18px;
}
.group > ul > li h3 a:hover {
  color: #ffae00;
}
.group > ul > li > div > span a {
  color: #00b780;
}
.group > ul > li p {
  margin-top: 25px;
  color: #666;
}
.group > ul > li p > span {
  margin-right: 5px;
  color: #00b780;
}
.group > ul > li p > span a {
  color: #00b780;
}
.group > ul > li p > strong {
  text-align: right;
  font-size: 16px;
  font-weight: normal;
  margin-top: -15px;
  color: #00b780;
}
/*  promoted-teacher*/
.teachers-item,
.promot-teacher {
  text-align: center;
}
.teachers-item img,
.promot-teacher .avatar {
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.teachers-item a,
.promot-teacher a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #222;
  text-decoration: none;
}
@media (max-width: 767px) {
  .teachers-item a,
  .promot-teacher a {
    font-size: 14px;
  }
}
.teachers-item span,
.promot-teacher span {
  line-height: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  color: #00b780;
}
.promot-teacher span {
  margin-bottom: 10px;
}
.teachers-item p,
.promot-teacher p {
  text-align: left;
}
/*teachers-item*/
.teachers-item {
  margin-bottom: 20px;
  padding: 20px 10px;
  background-color: #ececec;
}
@media (max-width: 767px) {
  .teachers-item {
    padding: 20px 10px 10px;
  }
}
.teachers-item p {
  height: 60px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item p {
    height: 34px;
    font-size: 12px;
  }
}
.teachers-item i {
  margin-bottom: 10px;
  display: block;
  font-style: normal;
  color: #00b780;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item i {
    display: none;
  }
}
/*comment*/
.comment img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.comment ul li {
  margin-left: -25px;
  margin-right: -25px;
  padding: 10px 25px;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 20px;
  color: #a9a9a9;
  font-size: 12px;
}
.comment ul li:hover {
  background-color: #f7f7f7;
}
.com-author-link {
  color: #00b780;
}
.comment ul li p {
  margin-top: 5px;
  padding-left: 60px;
  clear: both;
}
.comment ul li p a {
  color: #222;
}
/*tag-list*/
.tag-list a {
  margin: 0 10px 10px 0;
  padding: 0 15px;
  display: inline-block;
  border: 4px solid #dbdbdb;
  height: 30px;
  line-height: 22px;
  color: #999;
  text-decoration: none;
}
@media (max-width: 767px) {
  .tag-list a {
    margin: 0 5px 5px 0;
    padding: 0 10px;
    border: 2px solid #dbdbdb;
    height: 26px;
    font-size: 12px;
  }
}
.tag-list a:hover {
  color: #fff;
  background-color: #ffae00;
  border-color: #ffae00;
}
/*class-list*/
.course-row-list:nth-child(1) li:nth-child(-n+3) > a > span {
  color: #ff5d42;
}
.num-warn {
  color: #ff5d42;
}
#kechen-list,
#zhibo-list {
  margin: 0 -25px;
}
#kechen-list .course-price-widget {
  float: right;
  margin-top: -10px;
}
#kechen-list .course-price-widget .price {
  font-size: 13px;
}
.course-row-list {
  list-style: none;
  padding-left: 0px;
}
[role="button"] {
  cursor: pointer;
}
.course-row-list li > a {
  display: block;
  padding: 0 25px;
  color: #a9a9a9;
  text-decoration: none;
}
.course-row-list li > a > span {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  text-align: left;
  font-size: 24px;
}
.course-row-list li h3 {
  color: #000;
  font-size: 14px;
  line-height: 26px;
}
.course-row-list li p {
  font-size: 12px;
  height: 17px;
}
.course-row-list li p > span {
  float: right;
  margin: -10px 0 0 0;
  display: inline-block;
  color: #ff5d42;
}
/*zhibo*/
.zhibo-side .class-list li p {
  color: #fe6952;
}
.zhibo-side .class-list li p > span {
  color: #ffae00;
}
.class-nav {
  position: absolute;
  top: 25px;
  right: 20px;
}
.class-nav.left {
  right: 40px;
  text-decoration: none;
  outline: none;
}
.class-nav.right {
  text-decoration: none;
  outline: none;
}
.class-nav span {
  color: #c9c9c9;
}
.class-nav span:hover {
  color: #cc8b00;
}
/*login-box-main*/
.login-box-main img {
  float: left;
  margin: 0 30px 45px 0;
  width: 80px;
  height: 80px;
}
.login-box-main h4 {
  padding: 10px 0 10px 0;
  color: #ffae00;
  height: 40px;
  overflow: hidden;
}
.login-box-main ul {
  clear: both;
  overflow: hidden;
  list-style: none;
  padding-left: 0px;
}
.login-box-main ul li {
  float: left;
  text-align: center;
  width: 25%;
  border-right: 1px solid #ccc;
}
.login-box-main ul li.border-none {
  border: 0;
}
.login-box-main ul li a {
  display: block;
  color: #656565;
  text-decoration: none;
}
.login-box-main ul li p {
  font-size: 14px;
  line-height: 16px;
}
.login-box-main ul li a:hover {
  color: #cc8b00;
}
.login-box-main ul li span {
  display: block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 8px;
  font-size: 32px;
}
/*
@-webkit-keyframes toTopFromBottom{
  49% { -webkit-transform:translateY(-100%) }
  50% { opacity:.3;-webkit-transform:translateY(40%) }
  51% { opacity:1 }
}

@-moz-keyframes toTopFromBottom{
  49%{ -moz-transform:translateY(-100%) }
  50%{ opacity:.3;-moz-transform:translateY(80%) }
  51%{ opacity:1}
}

@-ms-keyframes toTopFromBottom{
  49% { -ms-transform:translateY(-100%) }
  50% { opacity:.3;-ms-transform:translateY(80%) }
  51% { opacity:1 }
}

@keyframes toTopFromBottom{
  49% { transform:translateY(-100%) }
  50% { opacity:.3;transform:translateY(40%) }
  51% { opacity:1 }
}

.login-box-main ul li:hover span {
  -webkit-animation: toTopFromBottom .4s forwards;
  -moz-animation: toTopFromBottom .4s forwards;
  -ms-animation: toTopFromBottom .4s forwards;
  animation: toTopFromBottom .4s forwards;
}*/
/*actions*/
.es-box > ul {
  padding-left: 0;
  list-style: none;
}
.es-box .actions h2 {
  margin-bottom: 20px;
  color: #222;
  font-size: 24px;
}
.es-box .actions p {
  margin-bottom: 15px;
}
.es-box .actions .btn {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  line-height: 28px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #ffae00;
}
.es-box .actions .btn:hover,
.es-box .actions .btn:focus {
  background-color: #cc8b00;
}
.es-box .actions label {
  font-weight: normal;
}
.es-box .actions .register {
  color: #ff5d42;
}
.logins {
  padding-top: 25px;
  border-top: 1px solid #ccc;
}
.logins a {
  margin-left: 10px;
}
/*news-side*/
.news-side li {
  height: 30px;
  line-height: 30px;
}
.news-side li a:hover {
  color: #ffae00;
}
.news-side li span {
  color: #ffae00;
}
/*status-side*/
.status-side .media {
  border-bottom: none;
}
.status-side .media-object {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.status-side .media-body {
  color: #222;
}
.status-side .media-body a {
  color: #ffae00;
}
/*the-vip-content*/
.the-vip-content {
  padding-bottom: 0;
}
.the-vip-content li {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .the-vip-content .row > a {
    display: block;
    border: 1px solid #eee;
  }
  .the-vip-content h3 {
    margin-top: 10px!important;
    font-size: 16px!important;
    text-align: center;
  }
  .es-box .tag-list {
    margin-top: 10px;
  }
  .es-box .promot-teacher {
    margin-top: 10px;
  }
  .course-row-list {
    margin-top: 10px;
  }
}
.the-vip-content h3 {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}
.the-vip-content .col-md-3 {
  min-height: 86px;
  position: relative;
}
@media (max-width: 767px) {
  .the-vip-content .col-sm-3 {
    padding: 0;
    min-height: 62px;
  }
}
.the-vip-content p {
  height: 60px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .the-vip-content p {
    display: none;
  }
}
.the-vip-content .col-md-3 img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .the-vip-content .col-md-3 img {
    margin: 10px auto;
  }
}
.the-vip-content .col-md-3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 -50px;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #ffae00;
}
@media (max-width: 767px) {
  .the-vip-content .col-md-3 span {
    margin: -20px 0 0 -50px;
  }
}
/*footer*/
#footer-fir {
  padding: 80px 0;
  background-color: #fff;
}
#footer-fir img,
#footer-sec img {
  max-height: 80px;
  width: auto;
}
#footer-fir .site-footer-logo {
  font-size: 28px;
  color: #ffae00;
}
#footer-fir .site-footer-links {
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
#footer-fir .site-footer-links li {
  margin: 0 0 0 10px;
}
#footer-fir .site-footer-links a {
  color: #03b884;
}
#footer-fir .site-footer-links a:hover {
  text-decoration: underline;
}
#footer-fir p {
  color: #999;
  text-align: right;
  line-height: 25px;
}
#footer-fir p.edusoho a {
  color: #ffae00;
}
#footer-sec {
  padding: 30px 0 15px 0;
  background-color: #2a2c31;
}
#footer-sec dl {
  text-align: center;
  width: 160px;
  padding: 0 25px;
  border-right: 1px solid #333;
  float: left;
}
#footer-sec dl dt {
  margin-bottom: 25px;
  font-size: 16px;
  color: #ccc;
}
#footer-sec dl dd a {
  color: #a1a0a1;
}
#footer-sec .footer-container {
  clear: both;
  text-align: center;
}
#footer-sec .copyright .site-footer-logo {
  margin-bottom: 30px;
  display: block;
  height: 50px;
  font-size: 25px;
  text-align: right;
}
#footer-sec .copyright p {
  text-align: right;
  font-size: 14px;
}
@media (max-width: 992px) {
  #footer-sec .copyright .site-footer-logo,
  #footer-sec .copyright p {
    text-align: center;
  }
}
#footer-sec .site-footer-links {
  margin: 10px 0;
}
#footer-sec .site-footer-links {
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  *zoom: 1;
}
#footer-sec .site-footer-links li {
  margin-right: 0;
  display: block;
  float: left;
  margin-left: -1px;
}
#footer-sec .site-footer-links a {
  color: #666;
  display: block;
  padding: 0 10px;
  border-left: 1px solid #666;
  line-height: 14px;
  font-size: 14px;
}
#footer-sec a:hover {
  color: #ffae00;
}
/*fixed-bar*/
.fixed-bar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: auto;
  width: 40px;
}
.fixed-bar span {
  text-align: center;
  background-color: #fff;
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.fixed-bar span:hover {
  background-color: #cc8b00;
  border-color: #cc8b00;
  color: #fff;
}
.fixed-bar .go-top {
  display: none;
}
/*内页, user*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #ffae00;
  color: #fff;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #ffae00;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffae00;
  border-color: #ffae00;
  color: #fff;
}
/*settings*/
.list-group-panel .list-group-item.active,
.list-group-panel .list-group-item.active:hover {
  color: #ffae00;
  border-color: #ffae00;
}
.btn-primary,
.btn-info {
  background-color: #ffae00;
  border-color: #ffae00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #03b884;
  border-color: #03b884;
}
.es-box-heading h2 {
  border-color: #03b884;
}
/*my/teaching/courses*/
.label-success,
.label-info {
  background-color: #ffae00;
}
.btn-link {
  color: #ffae00;
}
.btn-link:hover,
.btn-link:focus {
  color: #03b884;
}
.progress-bar {
  background-color: #ffae00;
}
.lesson-dashboard-page .fixed-bar {
  display: none;
}
.fixed-bar .mobile-badge-container .badge {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0px;
  background: red;
  padding: 4px 4px;
  border-radius: 4px;
  min-width: 0px;
}
.banner-announcement {
  background: #ebf6f1;
  height: 40px;
  margin-top: -30px;
  margin-bottom: 30px;
}
.announcement .alert {
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 10px 15px;
  font-size: 14px;
}
/*首页班级模块*/
.home-class-list .class-item {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .home-class-list .class-item {
    float: left;
    width: 50%;
    border-bottom: none;
    padding: 5px 5px 0 ;
  }
}
.home-class-list .class-item:last-child {
  border: none;
}
.home-class-list .mask {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffae00;
  padding: 30px 15px 10px 15px;
  line-height: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
  webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.home-class-list .mask a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.home-class-list .mask span.iconfont {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}
.home-class-list .mask-wrap {
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-class-list .mask-wrap {
    border: 1px solid #eee;
  }
}
.home-class-list .mask-wrap:hover .mask {
  opacity: 100;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms, opacity 0.1s ease-in;
  transition: all 250ms, opacity 0.1s ease-in;
}
.home-class-list .class-body {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .home-class-list .class-body {
    padding: 5px 10px;
  }
}
.home-class-list .class-picture-link {
  float: left;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.home-class-list .class-picture-link > img {
  width: 213px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link > img {
    width: 100%;
    display: block;
  }
}
.home-class-list .class-title {
  margin-bottom: 15px;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-class-list .class-title {
    height: auto;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
  }
}
.home-class-list .class-metas {
  margin-bottom: 28px;
  color: #999;
}
@media (max-width: 767px) {
  .home-class-list .class-metas {
    margin-bottom: 0;
  }
}
.home-class-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home-class-list .class-metas .fa {
    font-size: 12px;
    vertical-align: text-top;
  }
}
.home-class-list .class-teacher {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .home-class-list .class-teacher {
    display: none;
  }
}
.home-class-list .class-teacher span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .home-class-list .course-num {
    display: none;
  }
}
.home-class-list .class-price {
  float: right;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home-class-list .class-price {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .home-class-list .class-price {
    margin-right: 50px;
  }
}
/*header*/
.one-nav .navbar-form .form-control:focus {
  border-color: #ffae00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 115, 201, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 115, 201, 0.6);
}
.one-nav .menu-sec li.open > a,
.one-nav .menu-sec li > a:hover,
.one-nav .menu-sec li.active > a,
.one-nav .nav .dropdown-menu > li > a:hover,
.one-nav .nav .dropdown-menu > li > a:focus,
.one-nav .menu-sec .btn-plus-focus,
.one-nav .navbar-form .btn:hover,
.one-nav .menu-sec .navbar-nav > .open > a,
.one-nav .menu-sec .navbar-nav > .open > a:hover,
.one-nav .menu-sec .navbar-nav > .open > a:focus,
.one-nav .menu-sec .navbar-nav > .active > a:hover,
.one-nav .container-gap .nav .dropdown-menu > li > a:hover,
.one-nav .container-gap .nav .dropdown-menu > li > a:focus {
  background-color: #262626;
}
.one-nav .menu-sec,
.one-nav .navbar-form .btn,
.one-nav .menu-more li a,
.one-nav .container-gap .nav .dropdown-menu > li > a {
  background-color: #ffae00;
}
.one-nav .menu-sec .navbar-nav > li .dropdown-menu li a:hover,
.one-nav .container-gap .navbar-nav > li > a:focus,
.one-nav .container-gap .navbar-nav > li > a:hover,
.one-nav .container-gap .navbar-nav > li > a:hover .iconfont {
  color: #ffae00 !important;
}
.one-nav {
  border-bottom-color: #ffae00;
}
.one-nav .container-gap .nav .dropdown-menu:before {
  border-bottom-color: #262626;
}
.one-nav .navbar-brand-logo,
.one-nav .navbar-brand-logo:hover {
  color: #262626;
}
.one-nav .has-sub .sub-menu a:hover {
  color: #ffae00;
}
@media (max-width: 768px) {
  .one-nav .navbar-toggle > span,
  .one-nav .navbar-brand-logo,
  .one-nav .navbar-brand-logo:hover {
    color: #ffae00;
  }
  .one-nav .navbar-form .btn,
  .one-nav .menu-sec > li,
  .one-nav .navbar-form .btn:hover,
  .one-nav .menu-sec .navbar-nav > li .dropdown-menu {
    background-color: #ffae00;
  }
  .one-nav .menu-btn,
  .one-nav .has-sub .sub-menu,
  .one-nav .nav,
  .one-nav .container-gap .navbar-nav > li > a:hover {
    background-color: #262626 !important;
  }
  .one-nav .navbar-nav > li > a:hover,
  .one-nav .navbar-nav > li.open > a,
  .one-nav .navbar-nav > li.open > a > .iconfont,
  .one-nav .navbar-nav > li > a:hover > .iconfont {
    color: #fff!important;
  }
}
/*main*/
.homepage-feature span.cycle-pager-active,
.group > ul > li > a span,
.group > ul > li > a p > span,
.group > ul > li > a p > strong,
.news li,
.teachers-item i,
.teachers-item span,
.promot-teacher span,
.com-author-link,
.news-side li span,
.zhibo-side .class-list li p > span,
.class-nav span:hover,
.es-box .more,
.course-bottom .nickname,
.site-footer-logo,
.login-box-main ul li a:hover,
.login-box-main h4,
.group > ul > li > div > span a,
.group > ul > li p > span a,
.group > ul > li p > strong,
.news li a,
.news-side li a:hover,
.group > ul > li h3 a:hover,
.group > ul > li p > span {
  color: #ffae00;
}
.status-side .media-body {
  color: #a9a9a9;
}
.status-side .media-body a {
  color: #ffae00;
}
.es-box > h2,
.actions .form-control:focus {
  border-color: #ffae00;
}
.es-course-list .mask,
.es-box .actions .btn,
.the-vip-content .col-md-3 span {
  background-color: #ffae00;
}
.es-box .actions .btn:hover,
.es-box .actions .btn:focus {
  background-color: #262626;
  color: #fff;
}
.tag-list a:hover,
.fixed-bar span:hover {
  background-color: #ffae00;
  border-color: #ffae00;
}
.course-top span {
  background-color: #ffae00;
  background-color: rgba(246, 172, 12, 0.8);
}
.stars-0,
.stars-1,
.stars-2,
.stars-3,
.stars-4,
.stars-5 {
  background-image: url(../img/starts-y.png);
}
/*footer*/
#footer-fir .site-footer-links a,
#footer-fir p.edusoho a,
#footer-fir .site-footer-logo,
#footer-sec a:hover {
  color: #ffae00;
}
/*内页, user*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #ffae00;
  color: #fff;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #ffae00;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffae00;
  border-color: #ffae00;
  color: #fff;
}
/*settings*/
.list-group-panel .list-group-item.active,
.list-group-panel .list-group-item.active:hover {
  color: #ffae00;
  border-color: #ffae00;
}
.btn-primary,
.btn-info,
.btn-success,
.btn-primary {
  background-color: #ffae00;
  border-color: #ffae00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #262626;
  border-color: #262626;
  color: #fff;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #ffae00;
  border-color: #ffae00;
}
.es-box-heading h2 {
  border-color: #ffae00;
}
/*my/teaching/courses*/
.label-success,
.label-info {
  background-color: #ffae00;
}
.btn-link,
.userpage-header-info h1 small {
  color: #ffae00;
}
.btn-link:hover,
.btn-link:focus {
  color: #262626;
}
.progress-bar {
  background-color: #ffae00;
}
/*class*/
.home-class-list .mask {
  background-color: #ffae00;
}
