{# footer-fir #}

{% set currentTheme = current_theme() %}

{% set bottomConfig = currentTheme.config.bottom %}

{% if isIndex|default(null) %} 
	{% set bottomConfig = currentTheme.confirmConfig.bottom %}
{% endif %}

{% include 'TopxiaWebBundle:Default:' ~ bottomConfig ~ '-bottom.html.twig' %}

<div class="fixed-bar">
{% if not setting('esBar.enabled', 0) %}
  {% if setting('mobile.enabled', false) %}
    <a href="{{ path('mobile') }}" class="mobile-badge-container">
      <span class="iconfont icon-mobile"></span>
      <small class="badge"> </small>
    </a>
  {% endif %}
  <a class="go-top"><span class="iconfont icon-top"></span></a>
{% endif %}
</div>