{# 热门标签 #}
<div class="es-box">
  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% set tags = data('Tags',{'count':config.count}) %}
  {% if tags %}
  <div class="tag-list">
  {% for tag in tags %}
    {% if tag %} 
      <a href="/tag/{{ tag.name }}"> {{ tag.name }}</a>
    {% endif %}
  {% endfor %}
  {% else %}
      <div class="empty">还没有添加标签</div>
  {% endif %}
  </div>
</div>