{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!-- course -->
<div class="es-box es-course">
  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% set count = config.count %}
  {% set courses = data('RecommendCourses',{'count':count, 'categoryId':config.categoryId}) %}
  {% if courses %}
  {% set mode = mode|default('default') %}
    <ul class="row">
 
      {% for course in courses %}
        <li class="col-xs-6 col-sm-6 col-md-4 es-course-list">
          {% include 'GracefulThemeBundle:Default:course-grid.html.twig' %}
        </li>
      {% endfor %}
    </ul>

    {% if courses|length >= 12 %}
      <a class="more" href="{{ path('course_explore') }}">更多&gt;</a>
    {% endif %}

  {% else %}
      <div class="empty">还没有发布的课程</div>
  {% endif %}
    <a class="more" href="{{ path('course_explore',{category:category.code|default(''), orderBy:'recommendedSeq'}) }}">更多&gt;</a>

</div>
